@model IEnumerable < CarShop.Models.Car>
@{
    Layout = "/Views/MasterView.cshtml";
}
<table>
    <tr>
        <th id="main_title" colspan="3"><h1>Главная</h1></th>
    </tr>
    <tr>
        @foreach (var item in Model)
        {
            <td class="small_card">
                <img src="@item.Preview" alt="@item.Title" />
                <div class="content">
                    <small>@item.Type</small>
                    <h2>@item.Title</h2>
                    <p>@item.Description</p>
                    <a href="@Url.Action("CarPage","Home",new { item_id = item.Id})" title="@item.Title">Перейти</a>
                </div>
            </td>
        }
       
    </tr>
    <tr>
        @Html.Action("Form","Home")
        @*<td class="big_card" colspan="3">
            <img src="/Content/images/Form.png" alt="Форма" />
            <form onsubmit="return false" action="/Home/Order" method="POST">
                <fieldset>
                    <legend>Оформление заказа</legend>
                    <input type="text" name="Name" placeholder="Введите ваше имя" required /> <br />
                    <input type="tel" name="Tel" placeholder="+996-xxx-xxx-xxx" required pattern="996-[0-9]{3}-[0-9]{3}-[0-9]{3}" /><br />
                    <select name="Car">
                        <option value="Ghibli">Ghibli</option>
                        <option value="Quattroporte">Quattroporte</option>
                        <option value="GranTurismo">GranTurismo</option>
                    </select><br />
                    <input type="Submit">
                </fieldset>
            </form>

        </td>*@
    </tr>
</table>	